<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyADAEqI1pF3XzmpU8MoAVCvFa0O0y11mI0</string>
	<key>GCM_SENDER_ID</key>
	<string>136476614846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pm1.apply</string>
	<key>PROJECT_ID</key>
	<string>pm1-apply</string>
	<key>STORAGE_BUCKET</key>
	<string>pm1-apply.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136476614846:ios:68ac323d4f5a94cd4ffeef</string>
</dict>
</plist>